.menu {
  margin-bottom: 101px;

  &__title {
    margin-bottom: 38px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 39px;

    @media screen and (max-width: calc($breakpoint-mobile + 20px)) {
      gap: 6px;
    }

    @media screen and (max-width: 369px) {
      gap: 16px;
    }

    &--active {
      color: $text-light;
      background: $background-container;
      border-radius: 100px;
      border: 1px solid $background-container;
      display: flex;
      padding: 8px 16px 8px 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;

      @media screen and (max-width: 369px) {
        padding: 1px;
      }

      & span {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;

        @media screen and (max-width: 369px) {
          display: none;
        }
      }
    }
    
    &--inactive {
      color: $text-dark;
      background: $background-body;
      border-radius: 100px;
      border: 1px solid $border-light;
      display: flex;
      padding: 8px 16px 8px 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      transition: all 0.7s ease-in-out;
      cursor: pointer;

      @media screen and (max-width: 369px) {
        padding: 1px;
      }

      & span {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;

        @media screen and (max-width: 369px) {
          display: none;
        }
      }

      & svg rect {
        transition: all 0.7s ease-in-out;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: $background-container;
          border: 1px solid $background-container;
          color: $text-light;
        }
        &:hover svg rect {
          fill: #E1D4C9;
        }
      }
    }
  }
}

.tabs--icon.active svg rect {
  fill: #E1D4C9;
}

.tabs--icon.inactive svg rect {
  fill: #C1B6AD;
}


//! CARDS

.cards-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

  &__card {
    display: flex;
    width: 310px;
    min-height: 506px;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid $border-light;
    cursor: pointer;
    
    @media (hover: hover) and (pointer: fine) {
      &:hover .card__image span {
        scale: 0.92;
      }
    }

    @media screen and (max-width: 342px) {
      width: 100%;
    }
  }
}

.card {
  &__image {
    display: flex;
    width: 100%;
    height: 310px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;

    & span {
      width: 340px;
      height: 340px;
      flex-shrink: 0;
      transition: all 0.7s ease;
    }

    .coffee-1 {
      background: url(../../assets/img/coffee-1.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-2 {
      background: url(../../assets/img/coffee-2.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-3 {
      background: url(../../assets/img/coffee-3.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-4 {
      background: url(../../assets/img/coffee-4.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-5 {
      background: url(../../assets/img/coffee-5.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-6 {
      background: url(../../assets/img/coffee-6.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-7 {
      background: url(../../assets/img/coffee-7.jpg), lightgray 50% / cover no-repeat;
    }
    .coffee-8 {
      background: url(../../assets/img/coffee-8.jpg), lightgray 50% / cover no-repeat;
    }
  }

  &__description {
    display: flex;
    padding: 21px 20px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    gap: 12px;

    @media screen and (max-width: $breakpoint-mobile) {
      padding-left: 19px;
    }

    &--title {
      color: $text-dark;
    }

    &--content {
      color: $text-dark;
      margin-bottom: auto;
    }

    &--price {
      color: $text-dark;
      line-height: 100%;
      
    }
  }
}

.refresh {
  display: none;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $border-dark;
}

@media screen and (width < 900px) {
  .cards-menu__card.hidden {
    display: none;
  }
  .cards-menu {
    margin-bottom: 40px;
  }
  .refresh {
    display: flex;
  }
  .menu__title.title {
    margin-bottom: 38px;
  }
  .footer .title {
    margin-bottom: 0;
  }
}
