.footer {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  border-radius: 40px;
  background: $background-container;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;

  @media screen and (width < 1024px) {
    padding: 100px 60px 98px;
  }

  @media screen and (width < 900px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 101px;
  }

  @media screen and (width < 700px) {
    padding: 61px 16px 58px;
    gap: 41px;
  }
}

// Left Block

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.title--light {
  color: $text-light;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;

  @media screen and (width < 700px) {
    margin-top: -1px;
  }

  &__icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid $border-light;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;

    svg path {
      transition: all 0.7s ease-in-out;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $background-body;
      }
      &:hover svg path {
        stroke: $text-dark;
      }
    }
  }
}

// Right Block

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 39px;
  flex: 1 0 0;
  color: $text-light;
  align-self: stretch;
  @include inter(600);

  &__title {
    @include font(24px, 125%);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    margin-bottom: 6px;

    .item--underline {
      width: 10px;
      height: 2px;
      background: $text-light;
      opacity: 0;
      transition: all 0.7s ease;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .contacts__item a:hover + .item--underline {
    display: block;
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  a {
    text-decoration: none;
    color: $text-light;
    @include font(16px, 150%);
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}

.item--open-hours {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  @include font(16px, 150%);
}
