.mobile-app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;

  @media screen and (width < 900px) {
    flex-direction: column;
    margin-bottom: 96px;
  }

  @media screen and (max-width: calc(420px + 32px)) {
    gap: 40px;
  }
}

.mobiles img {
  max-width: 100%;
  object-fit: cover;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1;
  
  .title {
    text-align: left;
  }

  p {
    align-self: stretch;
    color: $text-dark;
    @include inter(400);
    @include font(16px, 150%);

    @media screen and (max-width: $breakpoint-mobile) {
      line-height: 149%;
      margin-bottom: -1px;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    align-self: flex-start;
  }
}

.offer__buttons {
  display: flex;
  gap: 20px;

  @media screen and (max-width: calc(420px + 32px)) {
    flex-direction: column;
  }
}

.offer__button {
  display: flex;
  width: 200px;
  height: 64px;
  padding: 0px 20px;
  border-radius: 100px;
  border: 1px solid $border-dark;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: $text-dark;
  transition: background-color 0.7s ease;

  svg {
    transform: translateX(-1px);
  }

  svg path {
    transition: fill 0.7s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $background-container;
      border: 1px solid $background-container;
    }
    &:hover .button__text {
      color: $text-light;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .button--app-store:hover svg path {
    fill: $background-body;
  }
  .button--google-play:hover svg path {
    fill: $background-body;
  }
}

.button__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  color: $text-dark;
  @include inter(600);
  transition: color 0.7s ease;

  .text--available {
    @include font(10px, 140%);
  }
  .text--platform {
    @include font(16px, 150%);
  }
}
