* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include inter600;
  background-color: $bg-body;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}