.favorite {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
}

/*
* Slider
*/

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  width: 100%;

  @media screen and (max-width: 753px) {
    justify-content: center;
  }

  // ! Slider body

  &__container {
    width: 480px;
    overflow: hidden;

    @media screen and (max-width: 512px) {
      flex: 0 1 348px;
    }
  }

  &__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;

    @media screen and (max-width: 512px) {
      width: 1094px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;


    flex: 0 0 auto;
    width: 480px;

    @media screen and (max-width: 512px) {
      max-width: 348px;
    }
  }

  &__slide-description {
    color: $text-dark;
    @include inter(400);
    @include font(16px, 149%);
    text-align: center;
  }

  &__slide-image {
    width: 100%;
    height: auto;
    margin-bottom: 5px;

    @media screen and (max-width: 440px) {
      margin-bottom: 4px;
    }
  }

  &__slide-price {
    color: $text-dark;
    @include inter(600);
    @include font(24px, 124%);

    @media screen and (max-width: 440px) {
      line-height: 123%;
    }
  }

  &__slide-title {
    align-self: stretch;
    color: $text-dark;
    @include inter(600);
    @include font(24px, 125%);
    font-style: normal;
    text-align: center;
  }
}


/*
* Arrows
*/

.arrow {
  @include flex(row, center, center);
  min-width: 60px;
  min-height: 60px;
  background-color: $background-body;
  border-radius: 100px;
  border: 1px solid $border-dark;
  cursor: pointer;
  transition: all 0.7s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $background-container;
    }

    &:hover svg path {
      stroke: $text-light;
    }
  }

  @media screen and (max-width: 753px) {
    display: none;
  }
}

svg path {
  transition: all 0.7s ease;
}


/*
* Controls
*/

.controls {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  &__control {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    overflow: hidden;
  }

  .control--active {
    display: block;
    background: $border-dark;
    width: 0px;
    height: 100%;
    border-radius: 100px;
  }

  .active-animation {
    animation: progress 5s ease-in-out forwards;
  }

  .control--inactive {
    background: $border-light;
  }
}

@keyframes progress {
  0% {
    width: 0px;
  }

  100% {
    width: 40px;
  }
}