@import "_mixins.scss";

// variables
$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;
$background-body: #E1D4C9;
$background-container: #665F55;
$border-dark: #665F55;
$border-light: #C1B6AD;
$background-backdrop: #403F3DCC;
$states: hover, active, visited;

// fonts
@font-face {
  @include inter(400);
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  @include inter(600);
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  @include inter(600);
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: italic;
}

@import "_null.scss";

.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 20px 40px 40px;
}

main {
  @include flex (column, flex-start, center);
  gap: 100px;
}

.title {
  @include font (60px, 125%);
  text-align: center;
  color: $text-dark;

  & span {
    font-style: italic;
    color: $text-accent;
  }
}

@import "_header.scss";
@import "_enjoy.scss";
@import "_slider.scss";
@import "_about.scss";
@import "_footer.scss";