* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}

.page__container {
  font-size: 1rem;
  font-weight: 300;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 60px;
}

.header {
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 1px;
  cursor: default;
}

.keyboard {
  width: 100%;
  max-width: 645px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin: 0 auto;
}

.keyboard button {
  height: 3em;
  width: 3em;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.keyboard button:disabled {
  border: 1px solid #ffffff77;
  color: #ffffff77;
  cursor: default;
}

.new-game-popup {
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.guess-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#user-input-section {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  font-size: 2em;
  margin: 0.6em 0 1.2em 0;
  color: #ffffff;
  cursor: default;
  margin: auto;
}

.hide {
  display: none;
}

#result-text h2 {
  font-size: 1.8em;
  text-align: center;
}

#result-text p {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
  color: #ffffff;
}

#result-text span {
  font-weight: 400;
}

#new-game-button {
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.win-msg,
.lose-msg {
  color: #ffffff;
}