@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #E1D4C9;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 20px 40px 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.title {
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #403F3D;
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.header__logo {
  width: 100px;
  height: 60px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transform: translateY(-1px);
  letter-spacing: 0.3px;
}
.header__nav .nav__item {
  height: 28px;
}
.header__nav .nav-link {
  text-decoration: none;
  color: #403F3D;
  position: relative;
  line-height: 150%;
}
.header__nav .nav-link:after {
  font-size: 16px;
  line-height: 150%;
}
.header__nav .nav-link:hover {
  color: #403F3D;
}
.header__nav .nav-link:active {
  color: #403F3D;
}
.header__nav .nav-link:visited {
  color: #403F3D;
}
.header__menu {
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  transform: translateY(-2px);
}
.header__menu:after {
  transform: translateY(-6px);
}
.header__menu a {
  line-height: 150%; /* 24px */
  transform: translateY(1px);
  color: #403F3D;
  letter-spacing: 0.3px;
}

.header__nav .nav-link:after, .header__menu:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0px;
  height: 2px;
  background: #403F3D;
  transition: all 0.45s;
}

.header__nav .nav__item:hover > .nav-link:after, .header__menu:hover:after {
  width: 100%;
  left: 0;
}

.enjoy {
  width: 100%;
  height: 644px;
  background: url(../assets/img/img-hero.jpg) lightgray 50%/cover no-repeat;
  border-radius: 40px;
  padding: 100px;
}

.banner {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.banner__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 72px;
  line-height: 105%;
  font-style: normal;
  color: #E1D4C9;
}
.banner__title span {
  color: #B0907A;
  font-style: italic;
}
.banner__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #E1D4C9;
}
.banner__button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background: #E1D4C9;
  padding: 20px 78px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 170%;
  color: #403F3D;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
  transition: all 0.7s ease;
}
.arrow:hover {
  background-color: #665F55;
}
.arrow:hover svg path {
  stroke: #E1D4C9;
}

svg path {
  transition: all 0.7s ease;
}

.favorite {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.slider__container {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  flex-direction: column;
  align-items: center;
}
.slider__slide {
  width: 480px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.slider__slide--inactive {
  display: none;
}
.slider__slide-description {
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}
.slider__slide-image {
  width: 480px;
  height: 480px;
  margin-bottom: 4px;
}
.slider__slide-price {
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 125%;
}
.slider__slide-title {
  align-self: stretch;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}
.controls {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.controls__control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}
.controls .control--active {
  background: #665F55;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.gallery {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.gallery__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.column__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column__box img {
  transition: all 1s ease;
}
.column__box:hover img {
  scale: 0.9;
}

.box--large {
  border-radius: 20px;
  width: 660px;
  height: 590px;
  overflow: hidden;
}

.box--small {
  border-radius: 20px;
  width: 660px;
  height: 430px;
  overflow: hidden;
}

.title {
  text-align: left;
}

.mobile-app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex: 1 0 0;
}
.mobile-app img {
  width: 630px;
  height: 630px;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.offer p {
  align-self: stretch;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.offer__buttons {
  display: flex;
  gap: 20px;
}

.offer__button {
  display: flex;
  width: 200px;
  height: 64px;
  padding: 0px 20px;
  border-radius: 100px;
  border: 1px solid #665F55;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #403F3D;
  transition: all 1s ease;
}
.offer__button svg {
  transition: all 1s ease;
}
.offer__button:hover {
  background-color: #665F55;
  border: 1px solid #665F55;
}
.offer__button:hover .button__text {
  color: #E1D4C9;
}

.button--app-store:hover svg path {
  fill: #E1D4C9;
}

.button--google-play:hover svg path {
  fill: #E1D4C9;
}

.button__text {
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
}
.button__text .text--available {
  font-size: 10px;
  line-height: 140%;
}
.button__text .text--platform {
  font-size: 16px;
  line-height: 150%;
}/*# sourceMappingURL=style.css.map */